body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f7f6;
}

.header {
    background-color: #1a365d;
    color: white;
    padding: 30px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.container {
    width: 80%;
    margin: auto;
}

.section {
    background: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 10px;
}

h2 {
    color: #1a365d;
}

ul {
    padding-left: 20px;
}

.footer {
    text-align: center;
    padding: 15px;
    background-color: #1b3862;
    color: white;
    margin-top: 20px;
}